
@tailwind components;
@layer components {
  .pie {
    aspect-ratio: 1/1;
    position: relative;
  }
  .pie__segment {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(-90deg) rotate(calc(var(--start) * 1deg));
  }
  .pie__segment[data-value="1"] {
    clip-path: polygon(50% 50%, 100% 50%, 249.969539% 53.4904812%);
  }
  .pie__segment[data-value="2"] {
    clip-path: polygon(50% 50%, 100% 50%, 249.8781654% 56.9798994%);
  }
  .pie__segment[data-value="3"] {
    clip-path: polygon(50% 50%, 100% 50%, 249.72590699999998% 60.4671912%);
  }
  .pie__segment[data-value="4"] {
    clip-path: polygon(50% 50%, 100% 50%, 249.51281% 63.9512948%);
  }
  .pie__segment[data-value="5"] {
    clip-path: polygon(50% 50%, 100% 50%, 249.2389396% 67.4311486%);
  }
  .pie__segment[data-value="6"] {
    clip-path: polygon(50% 50%, 100% 50%, 248.904379% 70.90569260000001%);
  }
  .pie__segment[data-value="7"] {
    clip-path: polygon( 50% 50%, 100% 50%, 248.50923039999998% 74.37386860000001%);
  }
  .pie__segment[data-value="8"] {
    clip-path: polygon(50% 50%, 100% 50%, 248.0536138% 77.8346202%);
  }
  .pie__segment[data-value="9"] {
    clip-path: polygon(50% 50%, 100% 50%, 247.5376682% 81.28689299999999%);
  }
  .pie__segment[data-value="10"] {
    clip-path: polygon(50% 50%, 100% 50%, 246.9615506% 84.7296356%);
  }
  .pie__segment[data-value="11"] {
    clip-path: polygon(50% 50%, 100% 50%, 246.3254366% 88.161799%);
  }
  .pie__segment[data-value="12"] {
    clip-path: polygon(50% 50%, 100% 50%, 245.6295202% 91.58233820000001%);
  }
  .pie__segment[data-value="13"] {
    clip-path: polygon(50% 50%, 100% 50%, 244.874013% 94.9902108%);
  }
  .pie__segment[data-value="14"] {
    clip-path: polygon(50% 50%, 100% 50%, 244.05914520000002% 98.3843792%);
  }
  .pie__segment[data-value="15"] {
    clip-path: polygon(50% 50%, 100% 50%, 243.1851652% 101.76380900000001%);
  }
  .pie__segment[data-value="16"] {
    clip-path: polygon(50% 50%, 100% 50%, 242.2523392% 105.1274712%);
  }
  .pie__segment[data-value="17"] {
    clip-path: polygon(50% 50%, 100% 50%, 241.2609512% 108.474341%);
  }
  .pie__segment[data-value="18"] {
    clip-path: polygon(50% 50%, 100% 50%, 240.2113032% 111.8033988%);
  }
  .pie__segment[data-value="19"] {
    clip-path: polygon(50% 50%, 100% 50%, 239.1037152% 115.1136308%);
  }
  .pie__segment[data-value="20"] {
    clip-path: polygon(50% 50%, 100% 50%, 237.9385242% 118.4040286%);
  }
  .pie__segment[data-value="21"] {
    clip-path: polygon(50% 50%, 100% 50%, 236.7160852% 121.67359%);
  }
  .pie__segment[data-value="22"] {
    clip-path: polygon(50% 50%, 100% 50%, 235.436771% 124.92131859999999%);
  }
  .pie__segment[data-value="23"] {
    clip-path: polygon( 50% 50%, 100% 50%, 234.10097059999998% 128.14622559999998%);
  }
  .pie__segment[data-value="24"] {
    clip-path: polygon(50% 50%, 100% 50%, 232.7090916% 131.3473286%);
  }
  .pie__segment[data-value="25"] {
    clip-path: polygon(50% 50%, 100% 50%, 231.26155740000002% 134.5236524%);
  }
  .pie__segment[data-value="26"] {
    clip-path: polygon(50% 50%, 100% 50%, 229.7588092% 137.6742294%);
  }
  .pie__segment[data-value="27"] {
    clip-path: polygon(50% 50%, 100% 50%, 228.2013048% 140.7981%);
  }
  .pie__segment[data-value="28"] {
    clip-path: polygon( 50% 50%, 100% 50%, 226.58951860000002% 143.89431259999998%);
  }
  .pie__segment[data-value="29"] {
    clip-path: polygon(50% 50%, 100% 50%, 224.92394140000002% 146.961924%);
  }
  .pie__segment[data-value="30"] {
    clip-path: polygon(50% 50%, 100% 50%, 223.20508080000002% 150%);
  }
  .pie__segment[data-value="31"] {
    clip-path: polygon(50% 50%, 100% 50%, 221.4334602% 153.007615%);
  }
  .pie__segment[data-value="32"] {
    clip-path: polygon(50% 50%, 100% 50%, 219.6096192% 155.9838528%);
  }
  .pie__segment[data-value="33"] {
    clip-path: polygon(50% 50%, 100% 50%, 217.7341136% 158.927807%);
  }
  .pie__segment[data-value="34"] {
    clip-path: polygon(50% 50%, 100% 50%, 215.80751460000002% 161.8385806%);
  }
  .pie__segment[data-value="35"] {
    clip-path: polygon(50% 50%, 100% 50%, 213.8304088% 164.71528719999998%);
  }
  .pie__segment[data-value="36"] {
    clip-path: polygon(50% 50%, 100% 50%, 211.8033988% 167.55705039999998%);
  }
  .pie__segment[data-value="37"] {
    clip-path: polygon(50% 50%, 100% 50%, 209.727102% 170.3630046%);
  }
  .pie__segment[data-value="38"] {
    clip-path: polygon(50% 50%, 100% 50%, 207.6021508% 173.132295%);
  }
  .pie__segment[data-value="39"] {
    clip-path: polygon(50% 50%, 100% 50%, 205.4291922% 175.8640782%);
  }
  .pie__segment[data-value="40"] {
    clip-path: polygon(50% 50%, 100% 50%, 203.2088886% 178.55752199999998%);
  }
  .pie__segment[data-value="41"] {
    clip-path: polygon(50% 50%, 100% 50%, 200.941916% 181.2118058%);
  }
  .pie__segment[data-value="42"] {
    clip-path: polygon(50% 50%, 100% 50%, 198.628965% 183.8261212%);
  }
  .pie__segment[data-value="43"] {
    clip-path: polygon(50% 50%, 100% 50%, 196.27074040000002% 186.399672%);
  }
  .pie__segment[data-value="44"] {
    clip-path: polygon(50% 50%, 100% 50%, 193.86795999999998% 188.931674%);
  }
  .pie__segment[data-value="45"] {
    clip-path: polygon(50% 50%, 100% 50%, 191.4213562% 191.4213562%);
  }
  .pie__segment[data-value="46"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 188.931674% 193.86795999999998%);
  }
  .pie__segment[data-value="47"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 186.399672% 196.27074040000002%);
  }
  .pie__segment[data-value="48"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 183.8261212% 198.628965%);
  }
  .pie__segment[data-value="49"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 181.2118058% 200.941916%);
  }
  .pie__segment[data-value="50"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 178.55752199999998% 203.2088886%);
  }
  .pie__segment[data-value="51"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 175.8640782% 205.4291922%);
  }
  .pie__segment[data-value="52"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 173.132295% 207.6021508%);
  }
  .pie__segment[data-value="53"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 170.3630046% 209.727102%);
  }
  .pie__segment[data-value="54"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 167.55705039999998% 211.8033988%);
  }
  .pie__segment[data-value="55"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 164.71528719999998% 213.8304088%);
  }
  .pie__segment[data-value="56"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 161.8385806% 215.80751460000002%);
  }
  .pie__segment[data-value="57"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 158.927807% 217.7341136%);
  }
  .pie__segment[data-value="58"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 155.9838528% 219.6096192%);
  }
  .pie__segment[data-value="59"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 153.007615% 221.4334602%);
  }
  .pie__segment[data-value="60"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 150% 223.20508080000002%);
  }
  .pie__segment[data-value="61"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 146.961924% 224.92394140000002%);
  }
  .pie__segment[data-value="62"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 143.89431259999998% 226.58951860000002%);
  }
  .pie__segment[data-value="63"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 140.7981% 228.2013048%);
  }
  .pie__segment[data-value="64"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 137.6742294% 229.7588092%);
  }
  .pie__segment[data-value="65"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 134.5236524% 231.26155740000002%);
  }
  .pie__segment[data-value="66"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 131.3473286% 232.7090916%);
  }
  .pie__segment[data-value="67"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 128.14622559999998% 234.10097059999998%);
  }
  .pie__segment[data-value="68"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 124.92131859999999% 235.436771%);
  }
  .pie__segment[data-value="69"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 121.67359% 236.7160852%);
  }
  .pie__segment[data-value="70"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 118.4040286% 237.9385242%);
  }
  .pie__segment[data-value="71"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 115.1136308% 239.1037152%);
  }
  .pie__segment[data-value="72"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 111.8033988% 240.2113032%);
  }
  .pie__segment[data-value="73"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 108.474341% 241.2609512%);
  }
  .pie__segment[data-value="74"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 105.1274712% 242.2523392%);
  }
  .pie__segment[data-value="75"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 101.76380900000001% 243.1851652%);
  }
  .pie__segment[data-value="76"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 98.3843792% 244.05914520000002%);
  }
  .pie__segment[data-value="77"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 94.9902108% 244.874013%);
  }
  .pie__segment[data-value="78"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 91.58233820000001% 245.6295202%);
  }
  .pie__segment[data-value="79"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 88.161799% 246.3254366%);
  }
  .pie__segment[data-value="80"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 84.7296356% 246.9615506%);
  }
  .pie__segment[data-value="81"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 81.28689299999999% 247.5376682%);
  }
  .pie__segment[data-value="82"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 77.8346202% 248.0536138%);
  }
  .pie__segment[data-value="83"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 74.37386860000001% 248.50923039999998%);
  }
  .pie__segment[data-value="84"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 70.90569260000001% 248.904379%);
  }
  .pie__segment[data-value="85"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 67.4311486% 249.2389396%);
  }
  .pie__segment[data-value="86"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 63.9512948% 249.51281%);
  }
  .pie__segment[data-value="87"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 60.4671912% 249.72590699999998%);
  }
  .pie__segment[data-value="88"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 56.9798994% 249.8781654%);
  }
  .pie__segment[data-value="89"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 53.4904812% 249.969539%);
  }
  .pie__segment[data-value="90"] {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 250%);
  }
  .pie__segment[data-value="91"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 46.5095188% 249.969539%);
  }
  .pie__segment[data-value="92"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 43.0201006% 249.8781654%);
  }
  .pie__segment[data-value="93"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 39.5328088% 249.72590699999998%);
  }
  .pie__segment[data-value="94"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 36.0487052% 249.51281%);
  }
  .pie__segment[data-value="95"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 32.5688514% 249.2389396%);
  }
  .pie__segment[data-value="96"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 29.094307399999998% 248.904379%);
  }
  .pie__segment[data-value="97"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 25.6261314% 248.50923039999998%);
  }
  .pie__segment[data-value="98"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 22.1653798% 248.0536138%);
  }
  .pie__segment[data-value="99"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 18.713107% 247.5376682%);
  }
  .pie__segment[data-value="100"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 15.270364400000005% 246.9615506%);
  }
  .pie__segment[data-value="101"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 11.838200999999998% 246.3254366%);
  }
  .pie__segment[data-value="102"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 8.417661799999998% 245.6295202%);
  }
  .pie__segment[data-value="103"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 5.0097892% 244.874013%);
  }
  .pie__segment[data-value="104"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 1.615620800000002% 244.05914520000002%);
  }
  .pie__segment[data-value="105"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -1.763809000000002% 243.1851652%);
  }
  .pie__segment[data-value="106"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -5.127471200000002% 242.2523392%);
  }
  .pie__segment[data-value="107"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -8.474340999999995% 241.2609512%);
  }
  .pie__segment[data-value="108"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -11.803398799999997% 240.2113032%);
  }
  .pie__segment[data-value="109"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -15.113630799999996% 239.1037152%);
  }
  .pie__segment[data-value="110"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -18.404028600000004% 237.9385242%);
  }
  .pie__segment[data-value="111"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -21.673590000000004% 236.7160852%);
  }
  .pie__segment[data-value="112"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -24.921318599999992% 235.436771%);
  }
  .pie__segment[data-value="113"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -28.146225599999994% 234.10097059999998%);
  }
  .pie__segment[data-value="114"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -31.347328599999997% 232.7090916%);
  }
  .pie__segment[data-value="115"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -34.5236524% 231.26155740000002%);
  }
  .pie__segment[data-value="116"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -37.6742294% 229.7588092%);
  }
  .pie__segment[data-value="117"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -40.798100000000005% 228.2013048%);
  }
  .pie__segment[data-value="118"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -43.89431259999999% 226.58951860000002%);
  }
  .pie__segment[data-value="119"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -46.961923999999996% 224.92394140000002%);
  }
  .pie__segment[data-value="120"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -50% 223.20508080000002%);
  }
  .pie__segment[data-value="121"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -53.007615% 221.4334602%);
  }
  .pie__segment[data-value="122"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -55.983852799999994% 219.6096192%);
  }
  .pie__segment[data-value="123"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -58.927807% 217.7341136%);
  }
  .pie__segment[data-value="124"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -61.8385806% 215.80751460000002%);
  }
  .pie__segment[data-value="125"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -64.71528719999999% 213.8304088%);
  }
  .pie__segment[data-value="126"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -67.5570504% 211.8033988%);
  }
  .pie__segment[data-value="127"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -70.3630046% 209.727102%);
  }
  .pie__segment[data-value="128"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -73.132295% 207.6021508%);
  }
  .pie__segment[data-value="129"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -75.86407820000001% 205.4291922%);
  }
  .pie__segment[data-value="130"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -78.55752199999998% 203.2088886%);
  }
  .pie__segment[data-value="131"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -81.21180580000001% 200.941916%);
  }
  .pie__segment[data-value="132"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -83.82612119999999% 198.628965%);
  }
  .pie__segment[data-value="133"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -86.39967200000001% 196.27074040000002%);
  }
  .pie__segment[data-value="134"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -88.93167399999999% 193.86795999999998%);
  }
  .pie__segment[data-value="135"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, -91.42135619999999% 191.4213562%);
  }
  .pie__segment[data-value="136"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -93.86795999999998% 188.931674%);
  }
  .pie__segment[data-value="137"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -96.27074040000002% 186.399672%);
  }
  .pie__segment[data-value="138"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -98.628965% 183.8261212%);
  }
  .pie__segment[data-value="139"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -100.94191599999999% 181.2118058%);
  }
  .pie__segment[data-value="140"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -103.2088886% 178.55752199999998%);
  }
  .pie__segment[data-value="141"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -105.42919219999999% 175.8640782%);
  }
  .pie__segment[data-value="142"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -107.6021508% 173.132295%);
  }
  .pie__segment[data-value="143"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -109.727102% 170.3630046%);
  }
  .pie__segment[data-value="144"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -111.8033988% 167.55705039999998%);
  }
  .pie__segment[data-value="145"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -113.83040879999999% 164.71528719999998%);
  }
  .pie__segment[data-value="146"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -115.80751460000002% 161.8385806%);
  }
  .pie__segment[data-value="147"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -117.7341136% 158.927807%);
  }
  .pie__segment[data-value="148"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -119.6096192% 155.9838528%);
  }
  .pie__segment[data-value="149"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -121.43346020000001% 153.007615%);
  }
  .pie__segment[data-value="150"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -123.20508080000002% 150%);
  }
  .pie__segment[data-value="151"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -124.92394140000002% 146.961924%);
  }
  .pie__segment[data-value="152"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -126.58951860000002% 143.89431259999998%);
  }
  .pie__segment[data-value="153"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -128.2013048% 140.7981%);
  }
  .pie__segment[data-value="154"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -129.7588092% 137.6742294%);
  }
  .pie__segment[data-value="155"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -131.26155740000002% 134.5236524%);
  }
  .pie__segment[data-value="156"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -132.7090916% 131.3473286%);
  }
  .pie__segment[data-value="157"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -134.10097059999998% 128.14622559999998%);
  }
  .pie__segment[data-value="158"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -135.436771% 124.92131859999999%);
  }
  .pie__segment[data-value="159"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -136.7160852% 121.67359%);
  }
  .pie__segment[data-value="160"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -137.9385242% 118.4040286%);
  }
  .pie__segment[data-value="161"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -139.1037152% 115.1136308%);
  }
  .pie__segment[data-value="162"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -140.2113032% 111.8033988%);
  }
  .pie__segment[data-value="163"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -141.2609512% 108.474341%);
  }
  .pie__segment[data-value="164"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -142.2523392% 105.1274712%);
  }
  .pie__segment[data-value="165"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -143.1851652% 101.76380900000001%);
  }
  .pie__segment[data-value="166"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -144.05914520000002% 98.3843792%);
  }
  .pie__segment[data-value="167"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -144.874013% 94.9902108%);
  }
  .pie__segment[data-value="168"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -145.6295202% 91.58233820000001%);
  }
  .pie__segment[data-value="169"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -146.3254366% 88.161799%);
  }
  .pie__segment[data-value="170"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -146.9615506% 84.7296356%);
  }
  .pie__segment[data-value="171"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -147.5376682% 81.28689299999999%);
  }
  .pie__segment[data-value="172"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -148.0536138% 77.8346202%);
  }
  .pie__segment[data-value="173"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -148.50923039999998% 74.37386860000001%);
  }
  .pie__segment[data-value="174"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -148.904379% 70.90569260000001%);
  }
  .pie__segment[data-value="175"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -149.2389396% 67.4311486%);
  }
  .pie__segment[data-value="176"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -149.51281% 63.9512948%);
  }
  .pie__segment[data-value="177"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -149.72590699999998% 60.4671912%);
  }
  .pie__segment[data-value="178"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -149.8781654% 56.9798994%);
  }
  .pie__segment[data-value="179"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -149.969539% 53.4904812%);
  }
  .pie__segment[data-value="180"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, -150% 50%);
  }
  .pie__segment[data-value="181"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -149.969539% 46.5095188%);
  }
  .pie__segment[data-value="182"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -149.8781654% 43.0201006%);
  }
  .pie__segment[data-value="183"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -149.72590699999998% 39.5328088%);
  }
  .pie__segment[data-value="184"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -149.51281% 36.0487052%);
  }
  .pie__segment[data-value="185"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -149.2389396% 32.5688514%);
  }
  .pie__segment[data-value="186"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -148.904379% 29.094307399999998%);
  }
  .pie__segment[data-value="187"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -148.50923039999998% 25.6261314%);
  }
  .pie__segment[data-value="188"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -148.0536138% 22.1653798%);
  }
  .pie__segment[data-value="189"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -147.5376682% 18.713107%);
  }
  .pie__segment[data-value="190"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -146.9615506% 15.270364400000005%);
  }
  .pie__segment[data-value="191"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -146.3254366% 11.838200999999998%);
  }
  .pie__segment[data-value="192"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -145.6295202% 8.417661799999998%);
  }
  .pie__segment[data-value="193"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -144.874013% 5.0097892%);
  }
  .pie__segment[data-value="194"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -144.05914520000002% 1.615620800000002%);
  }
  .pie__segment[data-value="195"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -143.1851652% -1.763809000000002%);
  }
  .pie__segment[data-value="196"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -142.2523392% -5.127471200000002%);
  }
  .pie__segment[data-value="197"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -141.2609512% -8.474340999999995%);
  }
  .pie__segment[data-value="198"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -140.2113032% -11.803398799999997%);
  }
  .pie__segment[data-value="199"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -139.1037152% -15.113630799999996%);
  }
  .pie__segment[data-value="200"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -137.9385242% -18.404028600000004%);
  }
  .pie__segment[data-value="201"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -136.7160852% -21.673590000000004%);
  }
  .pie__segment[data-value="202"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -135.436771% -24.921318599999992%);
  }
  .pie__segment[data-value="203"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -134.10097059999998% -28.146225599999994%);
  }
  .pie__segment[data-value="204"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -132.7090916% -31.347328599999997%);
  }
  .pie__segment[data-value="205"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -131.26155740000002% -34.5236524%);
  }
  .pie__segment[data-value="206"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -129.7588092% -37.6742294%);
  }
  .pie__segment[data-value="207"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -128.2013048% -40.798100000000005%);
  }
  .pie__segment[data-value="208"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -126.58951860000002% -43.89431259999999%);
  }
  .pie__segment[data-value="209"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -124.92394140000002% -46.961923999999996%);
  }
  .pie__segment[data-value="210"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -123.20508080000002% -50%);
  }
  .pie__segment[data-value="211"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -121.43346020000001% -53.007615%);
  }
  .pie__segment[data-value="212"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -119.6096192% -55.983852799999994%);
  }
  .pie__segment[data-value="213"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -117.7341136% -58.927807%);
  }
  .pie__segment[data-value="214"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -115.80751460000002% -61.8385806%);
  }
  .pie__segment[data-value="215"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -113.83040879999999% -64.71528719999999%);
  }
  .pie__segment[data-value="216"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -111.8033988% -67.5570504%);
  }
  .pie__segment[data-value="217"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -109.727102% -70.3630046%);
  }
  .pie__segment[data-value="218"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -107.6021508% -73.132295%);
  }
  .pie__segment[data-value="219"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -105.42919219999999% -75.86407820000001%);
  }
  .pie__segment[data-value="220"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -103.2088886% -78.55752199999998%);
  }
  .pie__segment[data-value="221"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -100.94191599999999% -81.21180580000001%);
  }
  .pie__segment[data-value="222"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -98.628965% -83.82612119999999%);
  }
  .pie__segment[data-value="223"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -96.27074040000002% -86.39967200000001%);
  }
  .pie__segment[data-value="224"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -93.86795999999998% -88.93167399999999%);
  }
  .pie__segment[data-value="225"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, -91.42135619999999% -91.42135619999999%);
  }
  .pie__segment[data-value="226"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -88.93167399999999% -93.86795999999998%);
  }
  .pie__segment[data-value="227"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -86.39967200000001% -96.27074040000002%);
  }
  .pie__segment[data-value="228"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -83.82612119999999% -98.628965%);
  }
  .pie__segment[data-value="229"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -81.21180580000001% -100.94191599999999%);
  }
  .pie__segment[data-value="230"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -78.55752199999998% -103.2088886%);
  }
  .pie__segment[data-value="231"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -75.86407820000001% -105.42919219999999%);
  }
  .pie__segment[data-value="232"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -73.132295% -107.6021508%);
  }
  .pie__segment[data-value="233"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -70.3630046% -109.727102%);
  }
  .pie__segment[data-value="234"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -67.5570504% -111.8033988%);
  }
  .pie__segment[data-value="235"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -64.71528719999999% -113.83040879999999%);
  }
  .pie__segment[data-value="236"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -61.8385806% -115.80751460000002%);
  }
  .pie__segment[data-value="237"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -58.927807% -117.7341136%);
  }
  .pie__segment[data-value="238"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -55.983852799999994% -119.6096192%);
  }
  .pie__segment[data-value="239"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -53.007615% -121.43346020000001%);
  }
  .pie__segment[data-value="240"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -50% -123.20508080000002%);
  }
  .pie__segment[data-value="241"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -46.961923999999996% -124.92394140000002%);
  }
  .pie__segment[data-value="242"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -43.89431259999999% -126.58951860000002%);
  }
  .pie__segment[data-value="243"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -40.798100000000005% -128.2013048%);
  }
  .pie__segment[data-value="244"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -37.6742294% -129.7588092%);
  }
  .pie__segment[data-value="245"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -34.5236524% -131.26155740000002%);
  }
  .pie__segment[data-value="246"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -31.347328599999997% -132.7090916%);
  }
  .pie__segment[data-value="247"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -28.146225599999994% -134.10097059999998%);
  }
  .pie__segment[data-value="248"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -24.921318599999992% -135.436771%);
  }
  .pie__segment[data-value="249"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -21.673590000000004% -136.7160852%);
  }
  .pie__segment[data-value="250"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -18.404028600000004% -137.9385242%);
  }
  .pie__segment[data-value="251"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -15.113630799999996% -139.1037152%);
  }
  .pie__segment[data-value="252"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -11.803398799999997% -140.2113032%);
  }
  .pie__segment[data-value="253"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -8.474340999999995% -141.2609512%);
  }
  .pie__segment[data-value="254"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -5.127471200000002% -142.2523392%);
  }
  .pie__segment[data-value="255"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, -1.763809000000002% -143.1851652%);
  }
  .pie__segment[data-value="256"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 1.615620800000002% -144.05914520000002%);
  }
  .pie__segment[data-value="257"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 5.0097892% -144.874013%);
  }
  .pie__segment[data-value="258"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 8.417661799999998% -145.6295202%);
  }
  .pie__segment[data-value="259"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 11.838200999999998% -146.3254366%);
  }
  .pie__segment[data-value="260"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 15.270364400000005% -146.9615506%);
  }
  .pie__segment[data-value="261"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 18.713107% -147.5376682%);
  }
  .pie__segment[data-value="262"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 22.1653798% -148.0536138%);
  }
  .pie__segment[data-value="263"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 25.6261314% -148.50923039999998%);
  }
  .pie__segment[data-value="264"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 29.094307399999998% -148.904379%);
  }
  .pie__segment[data-value="265"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 32.5688514% -149.2389396%);
  }
  .pie__segment[data-value="266"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 36.0487052% -149.51281%);
  }
  .pie__segment[data-value="267"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 39.5328088% -149.72590699999998%);
  }
  .pie__segment[data-value="268"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 43.0201006% -149.8781654%);
  }
  .pie__segment[data-value="269"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 46.5095188% -149.969539%);
  }
  .pie__segment[data-value="270"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% -150%);
  }
  .pie__segment[data-value="271"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 53.4904812% -149.969539%);
  }
  .pie__segment[data-value="272"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 56.9798994% -149.8781654%);
  }
  .pie__segment[data-value="273"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 60.4671912% -149.72590699999998%);
  }
  .pie__segment[data-value="274"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 63.9512948% -149.51281%);
  }
  .pie__segment[data-value="275"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 67.4311486% -149.2389396%);
  }
  .pie__segment[data-value="276"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 70.90569260000001% -148.904379%);
  }
  .pie__segment[data-value="277"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 74.37386860000001% -148.50923039999998%);
  }
  .pie__segment[data-value="278"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 77.8346202% -148.0536138%);
  }
  .pie__segment[data-value="279"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 81.28689299999999% -147.5376682%);
  }
  .pie__segment[data-value="280"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 84.7296356% -146.9615506%);
  }
  .pie__segment[data-value="281"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 88.161799% -146.3254366%);
  }
  .pie__segment[data-value="282"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 91.58233820000001% -145.6295202%);
  }
  .pie__segment[data-value="283"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 94.9902108% -144.874013%);
  }
  .pie__segment[data-value="284"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 98.3843792% -144.05914520000002%);
  }
  .pie__segment[data-value="285"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 101.76380900000001% -143.1851652%);
  }
  .pie__segment[data-value="286"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 105.1274712% -142.2523392%);
  }
  .pie__segment[data-value="287"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 108.474341% -141.2609512%);
  }
  .pie__segment[data-value="288"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 111.8033988% -140.2113032%);
  }
  .pie__segment[data-value="289"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 115.1136308% -139.1037152%);
  }
  .pie__segment[data-value="290"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 118.4040286% -137.9385242%);
  }
  .pie__segment[data-value="291"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 121.67359% -136.7160852%);
  }
  .pie__segment[data-value="292"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 124.92131859999999% -135.436771%);
  }
  .pie__segment[data-value="293"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 128.14622559999998% -134.10097059999998%);
  }
  .pie__segment[data-value="294"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 131.3473286% -132.7090916%);
  }
  .pie__segment[data-value="295"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 134.5236524% -131.26155740000002%);
  }
  .pie__segment[data-value="296"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 137.6742294% -129.7588092%);
  }
  .pie__segment[data-value="297"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 140.7981% -128.2013048%);
  }
  .pie__segment[data-value="298"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 143.89431259999998% -126.58951860000002%);
  }
  .pie__segment[data-value="299"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 146.961924% -124.92394140000002%);
  }
  .pie__segment[data-value="300"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 150% -123.20508080000002%);
  }
  .pie__segment[data-value="301"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 153.007615% -121.43346020000001%);
  }
  .pie__segment[data-value="302"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 155.9838528% -119.6096192%);
  }
  .pie__segment[data-value="303"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 158.927807% -117.7341136%);
  }
  .pie__segment[data-value="304"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 161.8385806% -115.80751460000002%);
  }
  .pie__segment[data-value="305"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 164.71528719999998% -113.83040879999999%);
  }
  .pie__segment[data-value="306"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 167.55705039999998% -111.8033988%);
  }
  .pie__segment[data-value="307"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 170.3630046% -109.727102%);
  }
  .pie__segment[data-value="308"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 173.132295% -107.6021508%);
  }
  .pie__segment[data-value="309"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 175.8640782% -105.42919219999999%);
  }
  .pie__segment[data-value="310"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 178.55752199999998% -103.2088886%);
  }
  .pie__segment[data-value="311"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 181.2118058% -100.94191599999999%);
  }
  .pie__segment[data-value="312"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 183.8261212% -98.628965%);
  }
  .pie__segment[data-value="313"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 186.399672% -96.27074040000002%);
  }
  .pie__segment[data-value="314"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 188.931674% -93.86795999999998%);
  }
  .pie__segment[data-value="315"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 191.4213562% -91.42135619999999%);
  }
  .pie__segment[data-value="316"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 193.86795999999998% -88.93167399999999%);
  }
  .pie__segment[data-value="317"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 196.27074040000002% -86.39967200000001%);
  }
  .pie__segment[data-value="318"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 198.628965% -83.82612119999999%);
  }
  .pie__segment[data-value="319"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 200.941916% -81.21180580000001%);
  }
  .pie__segment[data-value="320"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 203.2088886% -78.55752199999998%);
  }
  .pie__segment[data-value="321"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 205.4291922% -75.86407820000001%);
  }
  .pie__segment[data-value="322"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 207.6021508% -73.132295%);
  }
  .pie__segment[data-value="323"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 209.727102% -70.3630046%);
  }
  .pie__segment[data-value="324"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 211.8033988% -67.5570504%);
  }
  .pie__segment[data-value="325"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 213.8304088% -64.71528719999999%);
  }
  .pie__segment[data-value="326"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 215.80751460000002% -61.8385806%);
  }
  .pie__segment[data-value="327"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 217.7341136% -58.927807%);
  }
  .pie__segment[data-value="328"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 219.6096192% -55.983852799999994%);
  }
  .pie__segment[data-value="329"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 221.4334602% -53.007615%);
  }
  .pie__segment[data-value="330"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 223.20508080000002% -50%);
  }
  .pie__segment[data-value="331"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 224.92394140000002% -46.961923999999996%);
  }
  .pie__segment[data-value="332"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 226.58951860000002% -43.89431259999999%);
  }
  .pie__segment[data-value="333"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 228.2013048% -40.798100000000005%);
  }
  .pie__segment[data-value="334"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 229.7588092% -37.6742294%);
  }
  .pie__segment[data-value="335"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 231.26155740000002% -34.5236524%);
  }
  .pie__segment[data-value="336"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 232.7090916% -31.347328599999997%);
  }
  .pie__segment[data-value="337"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 234.10097059999998% -28.146225599999994%);
  }
  .pie__segment[data-value="338"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 235.436771% -24.921318599999992%);
  }
  .pie__segment[data-value="339"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 236.7160852% -21.673590000000004%);
  }
  .pie__segment[data-value="340"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 237.9385242% -18.404028600000004%);
  }
  .pie__segment[data-value="341"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 239.1037152% -15.113630799999996%);
  }
  .pie__segment[data-value="342"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 240.2113032% -11.803398799999997%);
  }
  .pie__segment[data-value="343"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 241.2609512% -8.474340999999995%);
  }
  .pie__segment[data-value="344"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 242.2523392% -5.127471200000002%);
  }
  .pie__segment[data-value="345"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 243.1851652% -1.763809000000002%);
  }
  .pie__segment[data-value="346"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 244.05914520000002% 1.615620800000002%);
  }
  .pie__segment[data-value="347"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 244.874013% 5.0097892%);
  }
  .pie__segment[data-value="348"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 245.6295202% 8.417661799999998%);
  }
  .pie__segment[data-value="349"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 246.3254366% 11.838200999999998%);
  }
  .pie__segment[data-value="350"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 246.9615506% 15.270364400000005%);
  }
  .pie__segment[data-value="351"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 247.5376682% 18.713107%);
  }
  .pie__segment[data-value="352"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 248.0536138% 22.1653798%);
  }
  .pie__segment[data-value="353"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 248.50923039999998% 25.6261314%);
  }
  .pie__segment[data-value="354"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 248.904379% 29.094307399999998%);
  }
  .pie__segment[data-value="355"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 249.2389396% 32.5688514%);
  }
  .pie__segment[data-value="356"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 249.51281% 36.0487052%);
  }
  .pie__segment[data-value="357"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 249.72590699999998% 39.5328088%);
  }
  .pie__segment[data-value="358"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 249.8781654% 43.0201006%);
  }
  .pie__segment[data-value="359"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 249.969539% 46.5095188%);
  }
  .pie__segment[data-value="360"] {
    clip-path: polygon( 50% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 250% 50%);
  }
}
